# vim: set syntax=yaml:

version: '3'

volumes: {}

networks:
  'wso2_default': {external: true}

services:

  database:
    image: 'local/wso2carbon-database:5.7'
    build:
      context: 'images/wso2carbon-database'

    hostname: 'wso2carbon-database-1'
    
    volumes:
    - './data:/var/lib/postgresql/data'
    - './secrets/postgres-password:/run/postgres-password:ro'

    environment:
      POSTGRES_PASSWORD_FILE: '/run/postgres-password'  

    ports:
    - '5435:5432/tcp'
    
    networks: 
    - 'wso2_default'

  idp:
    image: 'local/wso2is:5.7'
    build:
      context: "images/wso2is"
      args:
        SERVER_NAME: "id-provider.localdomain"
        # The SERVER_PORT must be same as exposed port! 
        SERVER_PORT: "443"

    hostname: 'wso2is-1'
    
    environment:
      # The hostname of the database server (in same network!)
      DATABASE: 'database'
    
    volumes: [] 
    
    ports:
    - '443:9443/tcp'
    
    networks: 
    - 'wso2_default'
